Lab3/ShipperClient/Service References/NwService/ShipperService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ShipperService" elementFormDefault="qualified" targetNamespace="http://ShipperService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55297/ShipperService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwindService" />
  <xs:element name="GetShipper">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NorthwindService" minOccurs="0" name="GetShipperResult" nillable="true" type="q1:Shipper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShipper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NorthwindService" minOccurs="0" name="shipper" nillable="true" type="q2:Shipper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShipperResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>