Lab3/ShipperClient/Service References/NwService/ShipperService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ShipperService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ShipperService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ShipperService/Imports">
      <xsd:import schemaLocation="http://localhost:55297/ShipperService.svc?xsd=xsd0" namespace="http://ShipperService" />
      <xsd:import schemaLocation="http://localhost:55297/ShipperService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55297/ShipperService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwindService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShipperService_GetShipper_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShipper" />
  </wsdl:message>
  <wsdl:message name="IShipperService_GetShipper_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShipperResponse" />
  </wsdl:message>
  <wsdl:message name="IShipperService_SaveShipper_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveShipper" />
  </wsdl:message>
  <wsdl:message name="IShipperService_SaveShipper_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveShipperResponse" />
  </wsdl:message>
  <wsdl:portType name="IShipperService">
    <wsdl:operation name="GetShipper">
      <wsdl:input wsaw:Action="http://ShipperService/IShipperService/GetShipper" message="tns:IShipperService_GetShipper_InputMessage" />
      <wsdl:output wsaw:Action="http://ShipperService/IShipperService/GetShipperResponse" message="tns:IShipperService_GetShipper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveShipper">
      <wsdl:input wsaw:Action="http://ShipperService/IShipperService/SaveShipper" message="tns:IShipperService_SaveShipper_InputMessage" />
      <wsdl:output wsaw:Action="http://ShipperService/IShipperService/SaveShipperResponse" message="tns:IShipperService_SaveShipper_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>